ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

h2 {
    margin: 0;
}

button {
    border: none;
}

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #ededed;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    color: #000000;
}

#app {
    background-color: #ededed;
}

.container {
    max-width: 1020px;
    padding: 0 10px;
    margin: 0 auto;
}

.class-flex {
    flex: 1;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.block-area {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    height: 100%;
    flex: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* App */
.main-content {
    display: flex;
    flex-direction: row;
}

/* Регистрация, Авторизация */

.register_container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #adadad;
    border: #000000 1px solid;

}

.form-group {
    display: flex; /* Добавляем flex-контейнер */
    align-items: flex-start; /* Выравниваем элементы по верхнему краю */
    flex-direction: column;
}


.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.4s ease;
}

input[type="submit"]:hover {
    background-color: #a1dca1;
}

.form-group {
    margin-bottom: 20px;
}

.form-group:last-child {
    margin-bottom: 0;
}

.error-message {
    color: #ff0000;
    margin-top: 10px;
}

.success-message {
    color: #20ad13;
    margin-top: 10px;
}

.h2-auth {
    text-align: center;
    margin-bottom: 20px;
}

/* НавБар */
nav {
    background-color: #ededed;
    border-bottom: 1px black solid;
}

.menu-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.menu-block_logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-logo {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.menu-item {
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.menu-item-link {
    color: grey;
    transition: all 0.5s ease;
}

.menu-item-link:hover {
    color: #000000;
}

.logout-button {
    cursor: pointer;
}

/* СайдБар */
.sidebar_block {
    width: 230px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-right: 10px;
}

.main_menu-block {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar-name {
    margin-bottom: 30px;
    margin-top: 10px;
    color: #000000;
}

.sidebar-menu {
    text-align: start;
}

.sidebar-item {
    display: inline-block;
    width: 100%;
    padding: 15px 0 15px 5px;
    font-size: 22px;
    transition: all 0.5s ease;
}

.sidebar-item:hover {
    background-color: #c6c6c6;
    border-radius: 5px;
}

.sidebar-link {
    color: #000000;
}

.sidebar_image-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;

}

.sidebar_image-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Главная страница */


/* EditProfile */
.profile_block {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    margin-top: 10px;
}

.profile_block h2 {
    margin-bottom: 20px;
}

.form-group textarea {
    width: 100%;
    height: 50px;
    resize: none;
    padding: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.profile-block-label {
    text-align: start;
}

.block-massege {
    margin-top: 20px;
}

.block-massege li {
    font-size: 20px;
    color: #4caf50;
}


/* UserProfile */
.userProfileContainer {
    flex: 1;
    margin-top: 10px;

}

.userProfileBlock {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.userProfileBlock-graph {
    display: flex;
    flex-direction: column;
    flex: 0 0 220px;
    align-items: stretch;
    background-color: white;
    padding: 10px 10px 25px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.userProfileBlock-graph h4 {
    text-align: center;
}

.userProfileBlock-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;

}

.userProfileBlock-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.userProfileBlock-button {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 20px;
}
.userProfileBlock-sub {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
}
.userProfileBlock-sub h4 {
    margin: 10px;
}
.userProfileBlock_link {
    padding: 10px;
    border-radius: 5px;
    background-color: #638bad;
    color: white;
    font-size: 16px;
    transition: all ease 0.5s;
    cursor: pointer;
}
.userProfileBlock_link:hover {
    background-color: #9abbd7;
}

.profile-table {
    width: 100%;
    margin: 0 0 0 10px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
    align-items: stretch;
}

.profile-table h2 {
    font-size: 24px;
    margin: 0 0 20px;
    text-align: center;
}

.profile-table table {
    width: 100%;
    border-collapse: collapse;
}

.profile-table th,
.profile-table td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

.profile-table th {
    font-weight: bold;
    background-color: #f5f5f5;
}

.profile-table-title {
    font-size: 14px;
    min-width: 120px;
    vertical-align: top;
}

/* teams */
.group-card {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.group-info {
    flex: 1;
    text-align: start;
    padding: 5px;
}

.group-info p {
    margin: 5px;
}

.group-info h3 {
    margin: 0;
}

.group-info h2 {
    margin: 0;
    font-size: 1.5em;
}

.subscribers {
    color: #666;
}

.block-sort-team {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-top: 20px;

}

.block-sort-team-label {
    margin-right: 10px;
}

.block-sort-team-select {
    font-size: 20px;
    padding: 5px;
}

.block-search-area {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.block-search-area h2 {
    margin-bottom: 20px;
}

/* CreateTeams */
.create-team_block {
    display: flex;
    flex-direction: row;
    margin-top: 50px;

}

.create-team_block-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.create-team_block-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.create-team_block-image-block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #42b983;
}

.create-team_block-content {
    padding-top: 10px;
    width: 100%;
    flex: 1;
}

.create-team-message {
    margin-top: 50px;

}

.message-element {
    font-size: 20px;
}

.success {
    color: green;
}

.error {
    color: red;
}

/* CurrentTeam */
.group-container {
    display: flex;
    flex-direction: row;
}

.group-container-left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 150px;
}

.group-container-left-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.group-container-left-avatar img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.group-container-left-button {
    width: 150px;
    margin-top: 20px;
}

.group-container-left-button a {
    display: block;
    background-color: yellow;
    padding: 10px 0 10px 0;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    color: black;

}

.group-container-left-button button {
    width: 100%;
    height: 40px;
    background-color: red;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    border: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.group-container-right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex: 1;
    padding-left: 20px;
    max-width: 600px
}

.group-container-right h4 {
    text-align: start;
    white-space: normal;
    word-wrap: break-word;
    max-width: 100%;
}

.group-container-right h2,
.group-container-right h3 {
    text-align: start;
}{
    text-align: start;
}


/* Мои фотографии */
.album {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.album-block {
    position: relative;
        width: 200px;
    height: 200px;
        border-radius: 5px;
    overflow: hidden;
}


.thumbnail {
    width: 200px;
    height: 200px;
    margin: 10px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 5px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    position: relative;
}

.close {
    color: rgba(204, 204, 204, 0.51);
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.modal-photo {
    display: block;
    margin: 0 auto;
}

/* footer */
.footer-block {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

/* Кнопки, селекты */
.submit-button {
    background-color: #638bad;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    transition: all ease 0.5s;
    cursor: pointer;
}

.submit-button-red {
    background-color: darkgrey;
}

.submit-button:hover {
    background-color: #4caf50;
}

.userprofile-select {
    min-width: 200px;
    font-size: 16px;
    padding: 5px;
    transition: all ease 0.5s;
    border-radius: 5px;
}

.userprofile-select:hover {
    background-color: #e3e3e3;
}



/* поле поиска */
.block-search {
    display: flex;
    justify-content: space-between;
}

.search-input {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search-input:focus {
    outline: none;
    border-color: #85b7d9;
    box-shadow: 0 0 0 3px rgba(85, 183, 217, 0.2);
}

/* CaptainBlock */
.captain-block {
    display: flex;
    flex-direction: column;
}

.captain-block-title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.captain-block-title h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.captain-block-content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 20px;
    border-bottom: 1px grey solid;
    padding-bottom: 20px;
}

.captain-block-content-hover {
    padding: 0 10px;
    transition: background-color 0.5s, color 0.3s;
}

.captain-block-content-hover:hover {
    background-color: #cccccc;
    border-radius: 5px;
}

.captain-block-content-foto {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 20px 0 auto;
}

.captain-block-content-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.captain-block-content-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-items: start;
}

.captain-block-content-info h3 {
    margin: 0;
}

.captain-block-content-info h5 {
    margin: 0;
}

/* Home */

.hero-section {
    background-color: #F0F0F0;
    padding: 60px;
    text-align: center;
}

.hero-section h2 {
    color: #333;
    margin-bottom: 20px;
}

.hero-section p {
    color: #666;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    color: #FFF;
    background-color: #333;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

.btn-primary {
    background-color: #1E90FF;
}

.btn-primary:hover {
    background-color: #007BFF;
}

/* Стили для секции с особенностями */
.features-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    background-color: #FFF;
}

.feature {
    flex-basis: 50%;
    text-align: center;
    margin-right: 60px;
}

.feature i {
    font-size: 48px;
    color: #1E90FF;
    margin-bottom: 20px;
}

.feature h3 {
    color: #333;
    margin-bottom: 20px;
}

.feature p {
    color: #666;
}
/* PhotoPreview */

